/* CSS reset */
html {
    box-sizing: border-box;
  }

*, *:before, *:after {
    box-sizing: inherit;
}
 /* end of CSS reset */


 /* GOOGLE FONTS
    font-family: 'Philosopher', sans-serif;
    font-family: 'Quicksand', sans-serif;
    font-family: 'Nunito', sans-serif;
 */


 /* WRAPPER & BACKGROUND */
 #wrapper {
    width: 50vw;
    margin: 0 auto;
    background-color: #fafaf8;
    padding: 20px 30px;
}
body {
    background-color: #eeede8;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Nunito', sans-serif;
    color: rgb(15, 12, 19);

    animation: fadeIn linear 2s;
    -webkit-animation: fadeIn linear 2s;
    -moz-animation: fadeIn linear 2s;
    -o-animation: fadeIn linear 2s;
    -ms-animation: fadeIn linear 2s;
}
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* GENERIC */
a {
    text-decoration: none;
    color: #82543B;
}
a:hover {
    color: #848860;
    transition: color 0.5s;
}
em {
    font-style: italic;
}
strong {
    font-weight: bold;
}

/* NAVIGATION */
.top-bar {
    display: flex;
 }
 h1#name {
    font-family: 'Philosopher', sans-serif;
    color: #6d4937;
    text-shadow: 7px 5px 4px #c5c5c5;
    padding-left: 40px;
    padding-bottom: 40px;
}

nav {
    height: 3rem;
    width: 100%;
    padding-top: 15px;
    padding-bottom: 0px;
    background-color: #eeede8;
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
    font-size: 12px;
}
nav ul {
    list-style-type: none;
    float: right;
}
.pages {
    display: inline;
    padding: 0px 30px 0px 0px;
    font-size: 1.5em;
}
.pages a {
    text-decoration: none;
    color: rgb(54, 54, 54);
    transition: color 0.3s;
}
.pages a:hover {
    color: #8F8275;
}

/* SELECT */
label[for="type"] {
    margin-left: 40px;
    margin-right: 10px;
}
#type {
    width: 150px;
    margin-bottom: 20px;
    padding: 5px;
}

/* NAME & EMAIL */
hr {
    margin-bottom: 20px;
    border: none;
    height: 1px;
    background-color: rgb(54, 54, 54);
}

label[for="firstName"], label[for="lastName"], label[for="email"] {
    padding-right: 10px;
    margin-bottom: 8px;
    width: 100px;
    text-align: right;
    display: inline-block;
}

label[for="type"] {
    margin-left: 45px;
    margin-right: 16px;
}

/* MESSAGE BOX */
input[type="file"] {
    margin-left: 40px;
    margin-bottom: 10px;
}

h1.message {
    font-family: 'Philosopher', sans-serif;
}
#message-box {
    min-width: 500px;
    max-width: 500px;
    min-height: 100px;
    max-height: 300px;
    margin-left: 2.5rem;
    padding: 10px;

    font-family: 'Nunito', sans-serif;
    font-size: 14px;    
}

/* BUTTONS */
.submit-btn, .reset-btn {
    display: inline-block;
    margin-right: 40px;
    margin-top: 10px;
    padding: 5px 10px;

    font-family: 'Philosopher', sans-serif;
    font-size: 16px;
    border: none;    
    color: #fff;
    background-color: #8F8275;
}

.submit-btn {
    float: right;
    margin-right: 20px;
    box-shadow: 1px 1px 10px 3px #ccc;
}
.submit-btn:hover {
    background-color:rgb(136, 155, 92); /* green */
}

.reset-btn {
    margin-left: 40px;
    box-shadow: 1px 1px 10px 3px #ccc;
}
.reset-btn:hover {
    background-color: rgb(155, 92, 92); /* red */
}

.reset-btn:hover, .submit-btn:hover {
    transition: background-color 0.5s;
    cursor: pointer;
}

/* FOOTER */
footer {
    text-align: center;
}